//
// App
// ==============================

@import "ionicons/ionicons.less";
@import "../../node_modules/touchstonejs/less/touchstone.less";
@import "../../node_modules/react-container/less/component.less";
@import "../../node_modules/google-material-color/dist/palette.less";

@import 'colors.less';

@import "variables";

//@import "Default";
@import "android";
//@import "demo";
@import "mixins";
@import "Type";

@import "components/index";
@import "views/index";

// Preload images
img.preload {
	display: none;
}

//main
.padding{
	padding-left:@app-gutter;
	padding-right:@app-gutter;
	width: 100%;
	overflow: visible;
	display: block;
}

.pull-left{
	flaot:left;
}

.pull-rigth{
	flaot:right;
}
