.text-left{
	text-align: left;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.text-light{
	color: @app-gray-light;
}

//titles

h1, h2, h3, h4, h5{
	font-weight: normal;
}

h1{
	font-size: @font-size-xxl;
}

h2{
	font-size: @font-size-xl;
}

h3{
	font-size: @font-size-lg;
}

h4,h5{
	font-size: @font-size-base;
}