// 
// Variables
// ==============================

// Colours
// ------------------------------

@app-primary:                  @palette-green-A400 ; // pink
@app-primary-light:            @palette-green-A200 ; 
@app-primary-dark:             @palette-green-A700 ; 

@app-secondary:                @palette-red-A400 ; // green
@app-secondary-ligth:          @palette-red-A200 ; // green
@app-secondary-dark:           @palette-red-A700 ; // green

@app-gray-light: 			   @palette-Blue-Grey-300;
@app-gray: 					   @palette-Grey-700;

@app-info :					   @palette-Blue-600 ;
@app-warning : 				   @palette-Orange-500 ;
@app-danger : 				   @palette-Red-500 ;

@twitter-brand:                #55acee;
@facebook-brand:               #3b5998;



// General
// ------------------------------

@app-gutter:                   30px;
@app-background:			   white;
@app-font-family: 			   Roboto, Arial, "sans-serif";

@app-margin-vertical: 			8px;


// Typography
// ------------------------------

@font-family-sans-serif:      "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:           "Times New Roman", Times, Georgia, serif;
@font-family-monospace:       Courier, monospace;
@font-family-base:            @font-family-sans-serif;
@font-weight-bold:            500;

@font-size-xxs:               11px;
@font-size-xs:                13px;
@font-size-sm:                15px;
@font-size-base:              16px;
@font-size-lg:                20px;
@font-size-xl:                24px;
@font-size-xxl:               32px;

@line-height-base:            1.428571429; // 20/14
@line-height-computed:        floor((@font-size-base * @line-height-base)); // ~20px

@app-color: 				  @palette-Grey-900;

@link-color:                  @app-primary;
@link-hover-color:            lighten(@link-color, 10%);


// Components
// ------------------------------

@panel-bg:                    lighten(@details-bg, 5%);
@panel-color:                 @text-color;
@panel-header-color:          #4d4d4d;

@item-divider-color:          rgba(255, 255, 255, 0.1);



// Bars
// ------------------------------


// header bar

@headerbar-bg:               @app-primary;
@headerbar-color:            white;
@headerbar-height:           54px;
@headerbar-button-color:     lighten(@app-primary, 40%);


// footer bar

@footerbar-bg:               @app-primary;


/*==========  buttons  ==========*/

@button-radius : 5px;

// Views
// ------------------------------

@details-bg:                 darken(@app-primary, 3%);
@view-padding: 		     	 20px;
// @details-bg:                 mix(@app-primary, black, 30%);